-f /cvmfs/soft.computecanada.ca/custom/python/wheelhouse/gentoo/avx2
-f /cvmfs/soft.computecanada.ca/custom/python/wheelhouse/gentoo/generic
-f /cvmfs/soft.computecanada.ca/custom/python/wheelhouse/generic
backcall==0.2.0
decorator==4.4.2
ipykernel==5.3.4
ipython==7.15.0; python_version ~= "3.6.0"
ipython==7.18.1; python_version >= "3.7.0"
ipython-genutils==0.2.0
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.7
ptyprocess==0.6.0
Pygments==2.7.1
python-dateutil==2.8.1
pyzmq==19.0.2
tornado==6.0.4
traitlets==4.3.3; python_version ~= "3.6.0"
traitlets==5.0.4; python_version >= "3.7.0"
wcwidth==0.2.5
