asttokens==2.4.1+computecanada
comm==0.2.2+computecanada
debugpy==1.8.1+computecanada
decorator==5.1.1+computecanada
exceptiongroup==1.2.1+computecanada ; python_version < "3.11"
executing==2.0.1+computecanada
ipykernel==6.29.4+computecanada
ipython==8.25.0+computecanada
jedi==0.19.1+computecanada
jupyter_client==8.6.2+computecanada
jupyter_core==5.7.2+computecanada
matplotlib_inline==0.1.7+computecanada
nest_asyncio==1.6.0+computecanada
packaging==24.1+computecanada
parso==0.8.4+computecanada
pexpect==4.9.0+computecanada
platformdirs==3.9.1+computecanada
prompt_toolkit==3.0.47+computecanada
psutil==5.9.8
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pygments==2.18.0+computecanada
python_dateutil==2.9.0.post0+computecanada
pyzmq==26.0.3+computecanada
six==1.16.0+computecanada
stack_data==0.6.3+computecanada
tornado==6.3.3+computecanada
traitlets==5.14.3+computecanada
typing_extensions==4.12.2+computecanada ; python_version < "3.12"
wcwidth==0.2.13+computecanada
