asttokens==3.0.0+computecanada
comm==0.2.2+computecanada
debugpy==1.8.12+computecanada
decorator==5.1.1+computecanada
exceptiongroup==1.2.2+computecanada ; python_version < "3.11"
executing==2.2.0+computecanada
ipykernel==6.29.5+computecanada
ipython==8.32.0+computecanada
ipywidgets==8.1.5+computecanada
jedi==0.19.2+computecanada
jupyter_client==8.6.3+computecanada
jupyter_core==5.7.2+computecanada
jupyterlab_widgets==3.0.13+computecanada
matplotlib-inline==0.1.7+computecanada
nest-asyncio==1.6.0+computecanada
packaging==24.2+computecanada
parso==0.8.4+computecanada
pexpect==4.9.0+computecanada
platformdirs==4.3.6+computecanada ; python_version >= "3.12"
platformdirs<4,>=3.9.1 ; python_version < "3.12"
prompt_toolkit==3.0.50+computecanada
psutil==6.1.1+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
Pygments==2.19.1+computecanada
python-dateutil==2.9.0.post0+computecanada
pyzmq==26.2.1+computecanada
six==1.17.0+computecanada
stack-data==0.6.3+computecanada
tornado==6.4.2+computecanada
traitlets==5.14.3+computecanada
typing_extensions==4.12.2+computecanada ; python_version < "3.12"
wcwidth==0.2.13+computecanada
widgetsnbextension==4.0.13+computecanada
