asttokens==2.2.1+computecanada
backcall==0.2.0+computecanada
comm==0.1.4+computecanada
debugpy==1.6.7.post1+computecanada
decorator==5.1.1+computecanada
executing==1.2.0+computecanada
importlib_metadata==6.8.0+computecanada
ipykernel==6.25.1+computecanada
ipython==8.15.0+computecanada
ipython_genutils==0.2.0+computecanada
jedi==0.19.0+computecanada
jupyter_client==8.3.1+computecanada
jupyter_core==5.3.1+computecanada
matplotlib_inline==0.1.6+computecanada
nest_asyncio==1.5.7+computecanada
packaging==23.1+computecanada
parso==0.8.3+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
platformdirs==2.6.2+computecanada
prompt_toolkit==3.0.39+computecanada
psutil==5.9.5+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
Pygments==2.16.1+computecanada
python-dateutil==2.8.2+computecanada
pyzmq==25.1.1+computecanada
six==1.16.0+computecanada
stack_data==0.6.2+computecanada
tornado==6.3.3+computecanada
traitlets==5.9.0+computecanada
typing-extensions==4.7.1+computecanada ; python_version < "3.10"
wcwidth==0.2.6+computecanada
zipp==3.16.2+computecanada
