backcall==0.2.0+computecanada
debugpy==1.5.1+computecanada
decorator==5.1.1+computecanada
ipykernel==6.0.3+computecanada
ipython==7.31.1+computecanada
ipython_genutils==0.2.0+computecanada
jedi==0.18.1+computecanada
jupyter-client==6.1.12+computecanada
jupyter_core==4.9.1+computecanada
matplotlib_inline==0.1.3+computecanada
parso==0.8.3+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
prompt_toolkit==3.0.26+computecanada
ptyprocess==0.7.0+computecanada
Pygments==2.11.2+computecanada
python-dateutil==2.8.2+computecanada
pyzmq==22.3.0+computecanada
six==1.16.0+computecanada
tornado==6.1+computecanada
traitlets==5.0.5+computecanada
wcwidth==0.2.5+computecanada
