arff==0.9+computecanada
argon2-cffi==20.1.0+computecanada
async-generator==1.10+computecanada
attrs==21.2.0+computecanada
backports-abc==0.5+computecanada
backports.shutil-get-terminal-size==1.0.0+computecanada
bcrypt==3.2.0+computecanada
bitstring==3.1.7+computecanada
bleach==3.3.1+computecanada
# 2022-01-05 Olivier Fisette <olivier.fisette@westgrid.ca>
# Blist is not compatible with Python 3.9; either remove or patch with:
# https://github.com/conda-forge/blist-feedstock/blob/master/recipe/patches/0004-compatibility-with-PEP-620.patch
blist==1.3.6+computecanada
certifi==2021.5.30+computecanada
cffi==1.14.6+computecanada
chardet==4.0.0+computecanada
charset-normalizer==2.0.2+computecanada
cryptography==3.4.7+computecanada
cycler==0.10.0+computecanada
Cython==0.29.24+computecanada
deap==1.3.1+computecanada
defusedxml==0.7.1+computecanada
dnspython==2.1.0+computecanada
ecdsa==0.17.0+computecanada
entrypoints==0.3+computecanada
funcsigs==1.0.2+computecanada
idna==3.2+computecanada
importlib-metadata==3.10.1+computecanada
ipywidgets==7.6.3+computecanada
Jinja2==3.0.1+computecanada
jsonschema==3.2.0+computecanada
jupyterlab-pygments==0.1.2+computecanada
jupyterlab-widgets==1.0.0+computecanada
kiwisolver==1.3.1+computecanada
lockfile==0.12.2+computecanada
MarkupSafe==2.0.1+computecanada
matplotlib==3.4.2+computecanada
mistune==0.8.4+computecanada
mock==4.0.3+computecanada
mpmath==1.2.1+computecanada
nbclient==0.5.3+computecanada
nbconvert==6.1.0+computecanada
nbformat==5.1.3+computecanada
nest-asyncio==1.5.1+computecanada
netaddr==0.8.0+computecanada
netifaces==0.11.0+computecanada
nose==1.3.7+computecanada
notebook==6.4.0+computecanada
numpy==1.21.0+computecanada
packaging==21.0+computecanada
pandas==1.3.0+computecanada
pandocfilters==1.4.3+computecanada
paramiko==2.7.2+computecanada
path==16.0.0+computecanada
path.py==12.5.0+computecanada
pathlib2==2.3.6+computecanada
paycheck==1.0.2+computecanada
pbr==5.6.0+computecanada
Pillow==8.3.1+computecanada
prometheus-client==0.11.0+computecanada
pycparser==2.20+computecanada
PyNaCl==1.4.0+computecanada
pyparsing==2.4.7+computecanada
pyrsistent==0.18.0+computecanada
pytz==2021.1+computecanada
requests==2.26.0+computecanada
scipy==1.7.0+computecanada
Send2Trash==1.7.1+computecanada
simplegeneric==0.8.1+computecanada
singledispatch==3.6.2+computecanada
sympy==1.8+computecanada
terminado==0.10.1+computecanada
testpath==0.5.0+computecanada
typing-extensions==3.10.0.0+computecanada
urllib3==1.26.6+computecanada
webencodings==0.5.1+computecanada
widgetsnbextension==3.5.1+computecanada
zipp==3.5.0+computecanada
