arff==0.9+computecanada
argon2_cffi==21.3.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
async_generator==1.10+computecanada
attrs==21.4.0+computecanada
backports-abc==0.5+computecanada
backports.shutil_get_terminal_size==1.0.0+computecanada
bcrypt==3.2.0+computecanada
bitstring==3.1.9+computecanada
bleach==4.1.0+computecanada
certifi==2021.10.8+computecanada
cffi==1.15.0+computecanada
chardet==4.0.0+computecanada
charset_normalizer==2.0.11+computecanada
cryptography==36.0.1+computecanada
cycler==0.11.0+computecanada
Cython==0.29.27+computecanada
deap==1.0.1+computecanada
defusedxml==0.7.1+computecanada
dnspython==2.2.0+computecanada
ecdsa==0.17.0+computecanada
entrypoints==0.4+computecanada
fonttools==4.29.1+computecanada
funcsigs==1.0.2+computecanada
idna==3.3+computecanada
importlib_metadata==4.10.1+computecanada
importlib_resources==5.4.0+computecanada
ipywidgets==7.6.5+computecanada
Jinja2==3.0.3+computecanada
jsonschema==4.4.0+computecanada
jupyterlab_pygments==0.1.2+computecanada
jupyterlab_widgets==1.0.2+computecanada
kiwisolver==1.3.2+computecanada
lockfile==0.12.2+computecanada
MarkupSafe==2.0.1+computecanada
matplotlib==3.5.1+computecanada
mistune==0.8.4+computecanada
mock==4.0.3+computecanada
mpmath==1.2.1+computecanada
nbclient==0.5.10+computecanada
nbconvert==6.4.2+computecanada
nbformat==5.1.3+computecanada
nest_asyncio==1.5.4+computecanada
netaddr==0.8.0+computecanada
netifaces==0.11.0+computecanada
nose==1.3.7+computecanada
notebook==6.4.8+computecanada
numpy==1.22.2+computecanada
packaging==21.3+computecanada
pandas==1.4.0+computecanada
pandocfilters==1.5.0+computecanada
paramiko==2.9.2+computecanada
path==16.3.0+computecanada
path.py==12.5.0+computecanada
pathlib2==2.3.6+computecanada
paycheck==1.0.2+computecanada
pbr==5.8.1+computecanada
Pillow==9.0.1+computecanada
prometheus_client==0.13.1+computecanada
pycparser==2.21+computecanada
PyNaCl==1.5.0+computecanada
pyparsing==3.0.7+computecanada
pyrsistent==0.18.1+computecanada
pytz==2021.3+computecanada
requests==2.27.1+computecanada
scipy==1.8.0+computecanada
Send2Trash==1.8.0+computecanada
simplegeneric==0.8.1+computecanada
singledispatch==3.7.0+computecanada
sympy==1.9+computecanada
terminado==0.13.1+computecanada
testpath==0.5.0+computecanada
typing_extensions==4.0.1+computecanada
urllib3==1.26.8+computecanada
webencodings==0.5.1+computecanada
widgetsnbextension==3.5.2+computecanada
zipp==3.7.0+computecanada
