anyio==3.6.2+computecanada
arff==0.9+computecanada
argon2-cffi==21.3.0+computecanada
argon2-cffi-bindings==21.2.0+computecanada
async-generator==1.10+computecanada
attrs==22.2.0+computecanada
backports-abc==0.5+computecanada
backports-shutil-get-terminal-size==1.0.0+computecanada
bcrypt==4.0.1+computecanada
beautifulsoup4==4.11.2+computecanada
bitstring==4.0.1+computecanada
bleach==6.0.0+computecanada
certifi==2022.12.7+computecanada
cffi==1.15.1+computecanada
chardet==5.1.0+computecanada
charset-normalizer==3.0.1+computecanada
contourpy==1.0.7+computecanada
cryptography==39.0.1+computecanada
cycler==0.11.0+computecanada
Cython==0.29.33+computecanada
deap==1.3.3+computecanada
defusedxml==0.7.1+computecanada
dnspython==2.3.0+computecanada
ecdsa==0.18.0+computecanada
entrypoints==0.4+computecanada
fastjsonschema==2.16.2+computecanada
fonttools==4.38.0+computecanada
funcsigs==1.0.2+computecanada
idna==3.4+computecanada
importlib-resources==5.12.0+computecanada
ipywidgets==8.0.4+computecanada
Jinja2==3.1.2+computecanada
jsonschema==4.17.3+computecanada
jupyter-events==0.6.3+computecanada
jupyter-server==2.3.0+computecanada
jupyter-server-terminals==0.4.4+computecanada
jupyterlab-pygments==0.2.2+computecanada
jupyterlab-widgets==3.0.5+computecanada
kiwisolver==1.4.4+computecanada
lockfile==0.12.2+computecanada
MarkupSafe==2.1.2+computecanada
matplotlib==3.7.0+computecanada
mistune==2.0.5+computecanada
mock==5.0.1+computecanada
mpmath==1.2.1+computecanada
nbclassic==0.5.2+computecanada
nbclient==0.7.2+computecanada
nbconvert==7.2.9+computecanada
nbformat==5.7.3+computecanada
netaddr==0.8.0+computecanada
netifaces==0.11.0+computecanada
nose==1.3.7+computecanada
notebook==6.5.2+computecanada
notebook-shim==0.2.2+computecanada
numpy==1.24.2+computecanada
pandas==1.5.3+computecanada
pandocfilters==1.5.0+computecanada
paramiko==3.0.0+computecanada
path==16.6.0+computecanada
path.py==12.5.0+computecanada
pathlib2==2.3.7+computecanada
paycheck==1.0.2+computecanada
pbr==5.11.1+computecanada
Pillow==9.4.0+computecanada
pkgutil-resolve-name==1.3.10+computecanada
prometheus-client==0.16.0+computecanada
pycparser==2.21+computecanada
pynacl==1.5.0+computecanada
pyparsing==3.0.9+computecanada
pyrsistent==0.19.3+computecanada
python-json-logger==2.0.7+computecanada
pytz==2022.7.1+computecanada
PyYAML==6.0+computecanada
requests==2.28.2+computecanada
rfc3339-validator==0.1.4+computecanada
rfc3986-validator==0.1.1+computecanada
scipy==1.10.1+computecanada
send2trash==1.8.0+computecanada
simplegeneric==0.8.1+computecanada
singledispatch==4.0.0+computecanada
sniffio==1.3.0+computecanada
soupsieve==2.4+computecanada
sympy==1.11.1+computecanada
terminado==0.17.1+computecanada
testpath==0.6.0+computecanada
tinycss2==1.2.1+computecanada
typing-extensions==4.5.0+computecanada
urllib3==1.26.14+computecanada
webencodings==0.5.1+computecanada
websocket-client==1.5.1+computecanada
widgetsnbextension==4.0.5+computecanada
