contourpy==1.3.0+computecanada
cycler==0.12.1+computecanada
fonttools==4.53.1+computecanada
kiwisolver==1.4.8+computecanada
matplotlib==3.10.0+computecanada
mpmath==1.3.0+computecanada
nose==1.3.7+computecanada ; python_version < "3.12"
numpy==2.2.2+computecanada
packaging==24.2+computecanada
pandas==2.2.2+computecanada
pillow==11.1.0+computecanada
pyparsing==3.1.4+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2024.2+computecanada
scipy==1.15.1+computecanada
six==1.16.0+computecanada
sympy==1.13.3+computecanada
tzdata==2024.1+computecanada
