# Ignore all
*

# Unignore all dirs
!*/

# Unignore some extensions
!*.eb
!*.py
!*.txt
!*.xml
!*.patch
!*.patch.gz
!*.md
!**/README

# Unignore specific files
!.gitignore
!LICENSE
!MANIFEST.in
!README.rst
!RELEASE_NOTES
!setup.cfg
!test/**
!.pre-commit-config.yaml
!checksums.json
