# Template for software with Makefile lacking installation target in GCCcore 13.3.0
easyblock = 'MakeCp'

name = 'SoftwareName'
version = '0.0.0'

homepage = 'https://www.domain.org'
description = """
Description in 80 chars long column
"""

toolchain = {'name': 'GCCcore', 'version': '13.3.0'}

source_urls = ['http://www.domain.org/download/']
sources = [SOURCELOWER_TAR_GZ]

builddependencies = [
    ('binutils', '2.42'),
    ('make', '4.4.1'),
]

dependencies = [
    ('DependencyName', '0.0.0'),
]

_executables = ['%(namelower)s', 'other_binary']
files_to_copy = [(_executables, 'bin'), 'README.md', 'other_folder']

sanity_check_paths = {
    'files': [f'bin/{x}' for x in _executables],
    'dirs': ['other_folder'],
}

sanity_check_commands = [
    "%(namelower)s -v",
    "%(namelower)s -h 2>&1 | grep 'pattern.*in.*output'",
]

moduleclass = 'module_class'
