# Template for software written in Java installed from an archive that needs unpacking
easyblock = 'PackedBinary'

name = 'SoftwareName'
version = '0.0.0'
versionsuffix = '-Java-%(javaver)s'

homepage = 'https://www.domain.org'
description = """
Description in 80 chars long column
"""

toolchain = SYSTEM

source_urls = ['http://www.domain.org/download/']
sources = [SOURCELOWER_TAR_GZ]

dependencies = [
    ('Java', '17'),
]

postinstallcmds = [
    "ln -s %(installdir)s/%(name)s-%(version)s.jar %(installdir)s/%(name)s.jar",
]

sanity_check_paths = {
    'files': ['%(namelower)s-%(version)s.jar'],
    'dirs': ['libs'],
}

sanity_check_commands = [
    "java org.something.something",
    "java -jar $EBROOTSOFTWARENAME/%(namelower)s.jar",
]

modextrapaths = {'CLASSPATH': 'libs/*'}

moduleclass = 'module_class'
