astroid==2.3.3+computecanada
awscli==1.17.9+computecanada
botocore==1.14.9+computecanada
cached-property==1.5.2+computecanada
cachetools==4.2.2+computecanada
colorama==0.4.1+computecanada
dataclasses==0.6+computecanada
docopt==0.6.2+computecanada
docutils==0.15.2+computecanada
eddy-qc==1.0.3+computecanada
flake8==3.7.9+computecanada
fmrib-unpack==2.3.2+computecanada
frozendict==2.0.3+computecanada
fsl-pyfeeds==0.9.5+computecanada
fsleyes==0.34.2+computecanada
fsleyes-props==1.7.3+computecanada
fsleyes-widgets==0.12.1+computecanada
fslpy==3.2.2+computecanada
future==0.18.2+computecanada
h5py==3.3.0+computecanada
imageio==2.9.0+computecanada
importlib-metadata==4.6.1+computecanada
intel-openmp==2021.1.1+computecanada
ipython==7.11.1+computecanada
isodate==0.6.0+computecanada
isort==4.3.21+computecanada
Jinja2==2.10+computecanada
jmespath==0.10.0+computecanada
joblib==1.0.1+computecanada
lazy-object-proxy==1.4.3+computecanada
lxml==4.4.2+computecanada
mccabe==0.6.1+computecanada
mkl==2021.1.1+computecanada
mkl-service==2.3.0+computecanada
networkx==2.4+computecanada
nibabel==2.5.1+computecanada
nidmfsl==2.2.0+computecanada
nidmresults==2.1.0+computecanada
numexpr==2.7.3+computecanada
numpy==1.18.5+computecanada
pandas==0.25.3+computecanada
Pillow==7.0.0+computecanada
prov==2.0.0+computecanada
pyasn1==0.4.8+computecanada
pycodestyle==2.5.0+computecanada
pyflakes==2.1.1+computecanada
PyLD==2.0.3+computecanada
pylint==2.4.4+computecanada
PyOpenGL==3.1.5+computecanada
pyparsing==2.4.6+computecanada
PyPDF2==1.26.0+computecanada
PyWavelets==1.1.1+computecanada
PyYAML==5.2+computecanada
rdflib==6.0.0+computecanada
rdflib-jsonld==0.5.0+computecanada
rsa==3.4.2+computecanada
s3transfer==0.3.7+computecanada
scikit-image==0.16.2+computecanada
scikit-learn==0.22.1+computecanada
seaborn==0.9.0+computecanada
six==1.14.0+computecanada
tables==3.6.1+computecanada
tbb==2021.1.1+computecanada
threadpoolctl==2.2.0+computecanada
typed-ast==1.4.3+computecanada
typing-extensions==3.10.0.0+computecanada
wrapt==1.11.2+computecanada
zipp==3.5.0+computecanada
