# Template for a bundle of components from a common organisation and using the same easyblock on GCCcore 12.3.0
easyblock = 'Bundle'

name = 'SoftwareName'
version = '0.0.0'

homepage = 'https://www.domain.org'
description = """
Description in 80 chars long column
"""

toolchain = {'name': 'GCCcore', 'version': '12.3.0'}

builddependencies = [
    ('binutils', '2.40'),
    ('CMake', '3.26.3'),
]

dependencies = [
    ('DependencyName', '0.0.0'),
]

default_easyblock = 'CMakeMake'
default_component_specs = {
    'source_urls': ['https://github.com/org/%(namelower)s/archive'],
    'sources': [{'download_filename': '%(version)s.tar.gz', 'filename': SOURCE_TAR_GZ}],
    'start_dir': '%(name)s-%(version)s',
}

components = [
    ('component1', '0.0.0', {
    }),
    ('component2', '0.0.0', {
    }),
    ('component3', '0.0.0', {
    }),
]

sanity_check_paths = {
    'files': ['bin/comp2', 'bin/comp3', f'lib/libcomp1.{SHLIB_EXT}'],
    'dirs': ['include/comp1', 'include/comp2', 'include/comp3'],
}

sanity_check_commands = [
    "comp2 -h",
    "comp3 -h",
]

moduleclass = 'module_class'
