# Template for ConfigureMake package from github using Autotools in GCCcore 12.3.0
easyblock = 'ConfigureMake'

name = 'SoftwareName'
version = 'YYYYMMDD'
_commit = '0000000000000000000000000000000000000000'

homepage = 'https://www.domain.org'
description = """
Description in 80 chars long column
"""

toolchain = {'name': 'GCCcore', 'version': '12.3.0'}

github_account = 'gh_account'
source_urls = [GITHUB_SOURCE]
sources = [{'download_filename': f'{_commit}.tar.gz', 'filename': SOURCE_TAR_GZ}]

builddependencies = [
    ('Autotools', '20220317'),
    ('binutils', '2.40'),
    ('make', '4.4.1'),
]

dependencies = [
    ('DependencyName', '0.0.0'),
]

preconfigopts = "autoreconf -fi && "

sanity_check_paths = {
    'files': ['bin/%(namelower)s', f'lib/lib%(namelower)s.{SHLIB_EXT}'],
    'dirs': ['include'],
}

sanity_check_commands = [
    "%(namelower)s -v",
    "%(namelower)s -h 2>&1 | grep 'pattern.*in.*output'",
]

moduleclass = 'module_class'
