# Template for a python bundle including a test step with pytest on GCCcore 12.3.0
easyblock = 'PythonBundle'

name = 'SoftwareName'
version = '0.0.0'

homepage = 'https://www.domain.org'
description = """
Description in 80 chars long column
"""

toolchain = {'name': 'GCCcore', 'version': '12.3.0'}

builddependencies = [
    ('binutils', '2.40'),
    ('pytest', '7.4.2'),
]

dependencies = [
    ('Python', '3.11.3'),
]

exts_list = [
    ('ext1-name-from-pypi', 'ext1_version', {
    }),
    ('name-lower', 'version', {
        'runtest': 'pytest',
        'testinstall': True,
    }),
]


moduleclass = 'class_name'
