# Template for CMakeMake package with PythonPackage extensions in foss 2022a
easyblock = 'CMakeMake'

name = 'SoftwareName'
version = '0.0.0'

homepage = 'https://www.domain.org'
description = """
Description in 80 chars long column
"""

toolchain = {'name': 'foss', 'version': '2022a'}

github_account = 'gh_account'
source_urls = [GITHUB_SOURCE]
sources = [{'download_filename': '%(version)s.tar.gz', 'filename': SOURCE_TAR_GZ}]

builddependencies = [
    ('CMake', '3.23.1'),
]

dependencies = [
    ('Python', '3.10.4'),
    ('SciPy-bundle', '2022.05'),
]

exts_defaultclass = 'PythonPackage'
exts_list = [
    ('python_dependency', '0.0.0', {
    }),
    ('softwarename_python', version, {
        # common case: python bindings for the installed SoftwareName
    }),
]

sanity_check_paths = {
    'files': ['bin/%(namelower)s', f'lib/lib%(namelower)s.{SHLIB_EXT}'],
    'dirs': ['include', 'lib/python%(pyshortver)s/site-packages'],
}

sanity_check_commands = [
    "%(namelower)s -h",
    "python -c 'import %(namelower)s'",
]

moduleclass = 'module_class'
