--index-url https://mirrors.aliyun.com/pypi/simple/
--extra-index-url https://pypi.ngc.nvidia.com
setuptools<66
pip
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.4.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
numpy==1.18.5
scikit-image==0.19.3
scikit-learn==0.23.2
scipy==1.9.3
tifffile==2020.9.3
imageio==2.15.0
packaging==24.2
pathlib2==2.3.7.post1
Pillow==9.4.0
ply==3.11
pycparser==2.22
Pypubsub==4.0.3
PyQt5==5.15.7
PyQt5-sip==12.11.0
PySocks==1.7.1
requests==2.32.3
sip==6.7.12
six==1.16.0
toml==0.10.2
tomli==2.0.2
urllib3==2.2.3
wheel==0.45.1
wxPython==4.1.1
zstandard==0.23.0
cryolo[c11]==1.9.9
