attrs==21.4.0+computecanada
iniconfig==1.1.1+computecanada
packaging==21.3+computecanada
pluggy==1.0.0+computecanada
py==1.11.0+computecanada
pyparsing==3.0.7+computecanada
pytest==7.0.1+computecanada
tomli==2.0.1+computecanada
