iniconfig==2.0.0+computecanada
packaging==24.1+computecanada
pluggy==1.5.0+computecanada
tomli==2.0.1+computecanada ; python_version < "3.11"
pytest==8.2.2+computecanada
exceptiongroup==1.2.1+computecanada ; python_version < "3.11"
